{% extends "base.html" %}
{% block content %}
    <div id="tabs" xmlns="http://www.w3.org/1999/html">
        <ul>
            <li><a href="#tabs-1">Editor</a></li>
            {% if book_file != '/media/' %}   
               <li><a href="#tabs-2">Book</a></li>
             {% endif %}
            <li><a href="#tabs-3">Note</a></li>
        </ul>
        <div id="tabs-1">
            <form class="form-inline" action="#" method="post"> {% csrf_token %}
            <textarea name="note" id="summernote" >
                {{ book.note }}
            </textarea>
                {% if url %}
                    <level>Current URL</level>
                    <input type="url" name="current_url" value="{{ book.current_url }}" >
                    <level>Current Page</level>
                    <input type="number" name="page_no" value="{{ book.page_no }}" >
                    <level>Type</level>
                    <input type="text" name="type" value="{{ book.type }}" >
                    <level>Folder/File Name</level>
                    <input type="text" name="folder" value="{{ book.folder }}" >
                {% else %}
                    <level>Type</level>
                    <input type="type" name="type" value="{{ book.type }}" >
                    <level>Current Page</level>
                    <input type="number" name="page_no" value="{{ book.page_no }}" >
                {% endif %}
                <br/>
                <br>
                <input class="btn btn-default" type="submit" value="Update" />
            </form>
            <br>
            {% if book.finished %}
                <button type="button" class="btn btn-info">Finished</button>
            {% else %}
                <a href="finished"><button type="button" class="btn btn-info">Reading</button> </a>
            {% endif %}
        </div>

        {% if book_file != '/media/' %}
        <div id="tabs-2">
            {% if url %}
                <a href="{{ url }}" target="_blank">Read {{ book.name }} </a>
            {% else %}
                <a href="{{ book_file }}" target="_blank">Read {{ book.name }} </a>
            {% endif %}
        

        </div>
        {% endif %}

        <div id="tabs-3">
            <h5>
                {% if url %}
                Current Page: {{ book.page_no }}
                <br />Current URL: {{ book.current_url }}
                    <br/> Current Folder/File Name: {{ book.folder }}
                {% else %}
                Current Page: {{ book.page_no }}
                {% endif %}
            </h5>
            <h5>
                {% autoescape off %}
                    Note: {{ book.note }}
                {% endautoescape %}
            </h5>
        </div>
    </div>

{% endblock %}
