{% extends "base.html" %}
{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Editor</a></li>
            <li><a href="#tabs-2">Book</a></li>
            <li><a href="#tabs-3">Note</a></li>
        </ul>
        <div id="tabs-1">
            <form action="#" method="post"> {% csrf_token %}
            <textarea name="note" id="summernote" >
                {{ book.note }}
            </textarea>
                <level>Number of page read</level>
                <input type="number" name="page_no" value="{{ book.page_no }}" >
                <br/>
                <input class="button" type="submit" value="Save" />
            </form>
            <br>
            {% if book.finished %}
            <button type="button" class="btn btn-info">Finished</button>
            {% else %}
                <a href="finished"><button type="button" class="btn btn-info">Reading</button> </a>
            {% endif %}
        </div>

        <div id="tabs-2">
            <form method="get" action="{{ book_file }}">
                <button type="submit">Read the  pdf!</button>
            </form>
        </div>

        <div id="tabs-3">
            <h5>
                {% autoescape off %}
                Note: {{ book.note }}
                {% endautoescape %}
            </h5>
            <h5>
                Page read: {{ book.page_no }}
            </h5>
        </div>
    </div>

{% endblock %}