{% extends "base.html" %}
{% block content %}
    <div id="tabs" xmlns="http://www.w3.org/1999/html">
        <ul>
            <li><a href="#tabs-1">Editor</a></li>
            <li><a href="#tabs-2">Book</a></li>
            <li><a href="#tabs-3">Note</a></li>
        </ul>
        <div id="tabs-1">
            <form action="#" method="post"> {% csrf_token %}
            <textarea name="note" id="summernote" >
                {{ book.note }}
            </textarea>
                {% if url %}
                    <level>Current URL</level>
                    <input type="url" name="current_url" value="{{ book.current_url }}" >
                {% else %}
                    <level>Current Page</level>
                <input type="number" name="page_no" value="{{ book.page_no }}" >
                {% endif %}
                <br/>
                <input class="button" type="submit" value="Save" />
            </form>
            <br>
            {% if book.finished %}
            <button type="button" class="btn btn-info">Finished</button>
            {% else %}
                <a href="finished"><button type="button" class="btn btn-info">Reading</button> </a>
            {% endif %}
        </div>

        <div id="tabs-2">
            {% if url %}
            <a href="{{ url }}" target="_blank">Read {{ book.name }} </a>
            {% else %}
            <a href="{{ book_file }}" target="_blank">Read {{ book.name }} </a>
            {% endif %}

        </div>

        <div id="tabs-3">
            <h5>
                {% autoescape off %}
                Note: {{ book.note }}
                {% endautoescape %}
            </h5>
            <h5>
                Current Page: {{ book.page_no }}
            </h5>
        </div>
    </div>

{% endblock %}